@import "meeta-admin-mixins.scss";


.meeta-modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba($black, 0.75);
}

.meeta-modal-container {
  width: 100vw;
  height: 100vh; 
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
  @include meeta-col;
  .meeta-modal{
    @include meeta-col; 
    border-radius: 3px;
    align-items: flex-start;
    background-color: $color-3;
    position: relative;
    height: auto;
    box-sizing: content-box;
    padding: 10px;
    &.xs {
      width: 320px;
    }
    &.sm {
      width: 480px;
    }
    &.md {
      width: 640px;
    }
    &.lg {
      width: 900px;
    }
    .meeta-modal-img-container {
      width: 300px;
      height: 300px;
      background-color: $white;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      border: 1px solid $color-5;
      margin-top: 20px;
      margin-bottom: 20px;
      @include meeta-row;     
      img {
        position: relative;
        height: 100%;
        width: auto;
        pointer-events: none;
      }
      .meeta-placeholder-img {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba($white, 0.5);
        color: $black;
        font: {
          family: 'roboto', sans-serif;
          weight: 400;
          size: 16px;
        }
        text-align: center;
        @include meeta-row;
      }
    }
    .meeta-modal-textarea-container {
      width: 100%;
      height: 300px;
      background: $white;
      position: relative;
      margin-top: 10px;
      #meeta-editor, .rdw-editor-wrapper {
        height: calc(100% - 42px)!important;
        .ql-editor {
          h1, h2, h3, h4, h5, h6 {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            color: #37A8D2;
          }
          p {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #7D7979;
            strong {
              font-family: 'Lato', sans-serif;
              font-weight: 500;
              font-size: 16px;
              color: #7D7979;
            }
          }
        }
      }
    }
    p.meeta-modal-p {
      font: {
        family: 'vision-regular';
        size: 12px;
      }
      font: {
        family: 'roboto', sans-serif;
        weight: 300;
        size: 12px;
      }
      display: block;
      text-align: left;
      margin-bottom: 10px;
      color: $white;
      a {
        color: $white;
        text-decoration: underline;
      }
    }
    .meeta-modal-header {
      height: 30px;
      width: 100%;
      background-color: $white;
      h4.meeta-modal-h4 {
        font: {
          family: 'roboto', sans-serif;
          weight: 300;
          size: 16px;
        }
        text-align: left;
        text-transform: uppercase;
        color: $color-3;
      }
      position: absolute;
      top: 0px;
      left: 0px;
      @include meeta-row;
      border-radius: 2px 2px 0px 0px;
    }
    .meeta-modal-body {
      padding-top: 50px;
      padding-bottom: 20px;
    } 
    .meeta-modal-footer{
      width: 100%;
    }
  }
}