@import "meeta-admin-mixins.scss";

textarea.meeta-textarea {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  outline: 0;
  box-shadow: 0;
  padding: 10px;
  &:focus, &:hover, &:active {
    outline: 0;
    box-shadow: 0;
  }
  font: {
    family: 'roboto', sans-serif;
    weight: 400;
    size: 12px; 
  }
  background: transparent;
  border: 0px;
  @include meeta-animate(300ms); 
  &.dark {
    background: darken($color-2, 10%);
    border: 1px solid $color-5;
    color: $white;
    &:focus, &:active {
      border: 1px solid $color-4;
    }
  }
}