//FACTORY
@font-face {
	font-family: 'factory';
	src: url('../../common/assets/fonts/factory-ljds/factory-ljds.eot');
	src: url('../../common/assets/fonts/factory-ljds/factory-ljds.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/factory-ljds/factory-ljds.woff2') format('woff2'),
		url('../../common/assets/fonts/factory-ljds/factory-ljds.woff') format('woff'),
		url('../../common/assets/fonts/factory-ljds/factory-ljds.ttf') format('truetype'),
		url('../../common/assets/fonts/factory-ljds/factory-ljds.svg#factory-ljds') format('svg');
}

//VISON - THIN
@font-face {
	font-family: 'vision-thin';
	src: url('../../common/assets/fonts/vision/vision-thin.eot');
	src: url('../../common/assets/fonts/vision/vision-thin.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-thin.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-thin.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-thin.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-thin.svg#vision-thin') format('svg');
}

//VISON - THIN ITALIC
@font-face { 
	font-family: 'vision-thin-italic';
	src: url('../../common/assets/fonts/vision/vision-thin-italic.eot');
	src: url('../../common/assets/fonts/vision/vision-thin-italic.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-thin-italic.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-thin-italic.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-thin-italic.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-thin-italic.svg#vision-thin-italic') format('svg');
}

//VISON - LIGHT
@font-face {
	font-family: 'vision-light';
	src: url('../../common/assets/fonts/vision/vision-light.eot');
	src: url('../../common/assets/fonts/vision/vision-light.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-light.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-light.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-light.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-light.svg#vision-light') format('svg');
}

//VISON - LIGHT ITALIC
@font-face {
	font-family: 'vision-light-italic';
	src: url('../../common/assets/fonts/vision/vision-light-italic.eot');
	src: url('../../common/assets/fonts/vision/vision-light-italic.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-light-italic.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-light-italic.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-light-italic.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-light-italic.svg#vision-light-italic') format('svg');
}

//VISON - REGULAR
@font-face {
	font-family: 'vision-regular';
	src: url('../../common/assets/fonts/vision/vision-regular.eot');
	src: url('../../common/assets/fonts/vision/vision-regular.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-regular.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-regular.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-regular.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-regular.svg#vision-regular') format('svg');
}

//VISON - REGULAR ITALIC
@font-face {
	font-family: 'vision-regular-italic';
	src: url('../../common/assets/fonts/vision/vision-regular-italic.eot');
	src: url('../../common/assets/fonts/vision/vision-regular-italic.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-regular-italic.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-regular-italic.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-regular-italic.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-regular-italic.svg#vision-regular-italic') format('svg');
}

//VISON - BOLD
@font-face {
	font-family: 'vision-bold';
	src: url('../../common/assets/fonts/vision/vision-bold.eot');
	src: url('../../common/assets/fonts/vision/vision-bold.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-bold.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-bold.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-bold.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-bold.svg#vision-bold') format('svg');
}

//VISON - BOLD ITALIC
@font-face {
	font-family: 'vision-bold-italic';
	src: url('../../common/assets/fonts/vision/vision-bold-italic.eot');
	src: url('../../common/assets/fonts/vision/vision-bold-italic.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-bold-italic.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-bold-italic.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-bold-italic.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-bold-italic.svg#vision-bold-italic') format('svg');
}

//VISON - HEAVY
@font-face {
	font-family: 'vision-black';
	src: url('../../common/assets/fonts/vision/vision-black.eot');
	src: url('../../common/assets/fonts/vision/vision-black.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-black.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-black.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-black.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-black.svg#vision-black') format('svg');
}

//VISON - HEAVY ITALIC
@font-face {
	font-family: 'vision-black-italic';
	src: url('../../common/assets/fonts/vision/vision-black-italic.eot');
	src: url('../../common/assets/fonts/vision/vision-black-italic.eot?#iefix') format('embedded-opentype'),
		url('../../common/assets/fonts/vision/vision-black-italic.woff2') format('woff2'),
		url('../../common/assets/fonts/vision/vision-black-italic.woff') format('woff'),
		url('../../common/assets/fonts/vision/vision-black-italic.ttf') format('truetype'),
		url('../../common/assets/fonts/vision/vision-black-italic.svg#vision-black-italic') format('svg');
}