@import "meeta-admin-mixins.scss";

button.meeta-button {
  width: 100%;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  font: {
    family: 'roboto', sans-serif;
    weight: 600;
    size: 16px;
  }
  background: transparent;
  border: 0px;
  @include meeta-row;
  text-transform: uppercase;
  border-radius: 3px;
  &:focus, &:hover, &:active {
    outline: 0;
    @include meeta-shadow(0.25);
  }
  @include meeta-shadow(0.25);
  @include meeta-animate(300ms);
  &.dark {
    border: 1px solid lighten($color-1, 10%);
    background: $color-1; 
    color: $color-7;
    &:hover, &:focus {
      background: lighten($color-1, 10%);
    }
  }
  &.sky {
    border: 1px solid lighten($color-5, 10%);
    background: $color-5; 
    color: $color-7;
    &:hover, &:focus {
      background: lighten($color-5, 10%);
    }
  }
  &.light {
    border-width: 0;
    background: $white; 
    color: $color-3;
    &:hover, &:focus {
      background: darken($white, 10%);
    }
    &.active {
      background: $color-3; 
      color: $white;
      &:hover, &:focus {
        background: lighten($white, 10%);
        color: $color-3;
      }
    }
    &.control {
      width: 100px;
      height: 28px;
      position: absolute;
      right: 100px;
      top: 10px;
      background-color: $color-5;
      &.plus {
        &:before {
          font-family: 'FontAwesome', sans-serif;
          font-size: 14px;
          content: '\f067';
          color: $white;
          padding-top: 3px;
        }
        &:after {
          content: 'nuevo...';
          font-family: 'Roboto'!important;
          font-size: 13px;
          font-weight: 500;
          color: $white;
          padding-left: 5px;
        }
      }
      &.delete {
        &:after {
          font-family: 'FontAwesome', sans-serif;
          font-size: 18px;
          content: '\f1f8';
          color: $failed;
          padding-top: 3px;
        }
      }
    }
  }
  &.sm {
    height: 32px;
    font-size: 13px;
  }
  &.lg {
    height: 36px;
  }
  &.cut-left {
    border-radius: 0px 3px 3px 0px;
  }
  &.square {
    border-radius: 0px;
  }
}