doctype html
html lang="es"

  head
    meta charset="utf-8"
    title Meeta Admin - Rident
    meta name="description" content="Administrador de contenidos Meeta para Rident"
    meta name="keywords" content="administrador, meeta"/
    meta name="author" content="Gricel Sepulveda, Agustín González"/
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! NORMALIZE
    link rel="stylesheet" href="../styles/normalize.css" type="text/css"
    /! CUSTOM FONT STYLES
    link rel="stylesheet" href="../styles/meeta-fonts.css" type="text/css"
    /! GENERAL STYLES
    link rel="stylesheet" href="../styles/meeta-admin-styles.css" type="text/css"
    /! FORM STYLES
    link rel="stylesheet" href="../styles/meeta-admin-form.css" type="text/css"
    /! BUTTON STYLES
    link rel="stylesheet" href="../styles/meeta-admin-button.css" type="text/css"
    /! INPUT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-input.css" type="text/css"
    /! INPUT FILE STYLES
    link rel="stylesheet" href="../styles/meeta-admin-input-file.css" type="text/css"
    /! TEXTAREA STYLES
    link rel="stylesheet" href="../styles/meeta-admin-textarea.css" type="text/css"
    /! ALERT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-alert.css" type="text/css"
    /! MODAL STYLES
    link rel="stylesheet" href="../styles/meeta-admin-modal.css" type="text/css"
    /! RICH TEXT EDITOR STYLES
    link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet"
    /! JQUERY
    script src="../../common/js/jquery-3.2.1.min.js"
    /! FONT AWESOME
    script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"
    /! CUSTOM SCRIPTS
    script src="../../common/js/meeta-admin.js"

  body
    .meeta-body-wrapper

      /! LOGO
      span.meeta-logo.page 
        | me
        span.highlight
          | e
        | ta

      /! ERROR NOTIFICATION
      .meeta-wrapper-notification
        .meeta-notification.success
          h2.meeta-notification-h2 
            | Aviso
            i.fas.fa-times-circle aria-hidden="true"
          p.meeta-notification-p 
            | Información actualizada 

      .meeta-wrapper-center

        .meeta-page.meeta-col
          .meeta-wrapper.main.width-960px.title.lg
            h1.meeta-h1.width-960px.lg.meeta-row.between
              | Panel de Administración - Rident
              span.meeta-linkeable 
                i.fas.fa-sign-out-alt
                | Salir
            
            .meeta-row.top
              /! MENU
              nav.meeta-main-menu.meeta-column.start.width-120px.spacer-right
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Inicio
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Especialidades
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Promociones
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Sedes
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Nosotros
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square.active type="button" Convenios
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Otros

              /! PAGE
              .meeta-wrapper-col
                .meeta-scroll

                  /! FORM ENTERPRISE
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Convenios
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          label.meeta-label.dark Imagen de Fondo:
                          input.meeta-input.dark.open-modal-img type="text" placeholder="imagen-ejemplo.jpg" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Título:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Más sonrisas para tus trabajadores" readonly=""
                        .meeta-element-container.width-400px
                          label.meeta-label.dark Texto:
                          input.meeta-input.dark.open-modal-textarea type="text" placeholder="Invitamos a todas las empresas e ins tuciones a ser parte de nuestro Convenio Ride..." readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-100px
                          label.meeta-label.dark Texto botón:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Leer más" readonly=""
                        .meeta-element-container.width-620px
                          label.meeta-label.dark Pdf adjunto:
                          input.meeta-input.dark.open-modal-pdf type="text"  placeholder="convenios.pdf" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

                  /! FORM ENTERPRISE LIST
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Lista de beneficios (izquierda)
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #1:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #2:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #3:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #4:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar


                  /! FORM ENTERPRISE LIST
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Lista de beneficios (derecha)
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #1:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #2:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #3:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Beneficio #4:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Esto es un beneficio" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

                        


    /! MODAL BACKGROUND
    .meeta-modal-bg

    /! MODAL IMAGE START
    .meeta-modal-container.img.meeta-display-none 
      .meeta-modal.sm
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Te recomendamos usar una resolución superior a 800px y usar tinypng.com para bajar el peso de tus imágenes
          .meeta-modal-img-container
            input.meeta-input-file type="file"
            img src="../../common/assets/img/placeholder.png"
            .meeta-placeholder-img Cambiar imagen
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

        /! MODAL IMAGE START
    .meeta-modal-container.pdf.meeta-display-none 
      .meeta-modal.sm
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Te recomendamos usar un archivo pdf liviano para que tus usuarios no se cansen de esperar para verlo.
          .meeta-modal-img-container
            input.meeta-input-file type="file"
            .meeta-placeholder-img Subir archivo pdf
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

    /! MODAL TEXTAREA START
    .meeta-modal-container.textarea.meeta-display-none
      .meeta-modal.md
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Te recomendamos no llenar de texto tu sitio web para no afectar la usabilidad. Los visitantes leen alrededor de un 20% del texto total y quienes estan muy interesados no alcanzan a leer más allá del 60% de un artículo. Si quieres mejor posicionamiento se escueto y utiliza las palabras clave dentro de tu redacción. 
          .meeta-modal-textarea-container
            #meeta-editor
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

    /! MODAL TEXTAREA START
    .meeta-modal-container.input-text.meeta-display-none
      .meeta-modal.md
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Si los títulos tienen demasiados caracteres pueden romper el diseño. Pero si sientes que necesitas más flexibilidad reportalo como issue a
            a href="mailto:soporte@meeta.cl"
              | soporte@meeta.cl
          textarea.meeta-textarea.dark
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

    /! RICH TEXT EDITOR SCRIPTS
    script src="https://cdn.quilljs.com/1.3.5/quill.js"
    /! RICH TEXT EDITOR INITIALIZING
    javascript:
      var quill = new Quill('#meeta-editor', {
        theme: 'snow'
      });



         

          

          
          

