doctype html
html lang="es"

  head
    meta charset="utf-8"
    title Meeta Admin - Rident
    meta name="description" content="Administrador de contenidos Meeta para Rident"
    meta name="keywords" content="administrador, meeta"/
    meta name="author" content="Gricel Sepulveda, Agustín González"/
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! NORMALIZE
    link rel="stylesheet" href="../styles/normalize.css" type="text/css"
    /! CUSTOM FONT STYLES
    link rel="stylesheet" href="../styles/meeta-fonts.css" type="text/css"
    /! GENERAL STYLES
    link rel="stylesheet" href="../styles/meeta-admin-styles.css" type="text/css"
    /! FORM STYLES
    link rel="stylesheet" href="../styles/meeta-admin-form.css" type="text/css"
    /! BUTTON STYLES
    link rel="stylesheet" href="../styles/meeta-admin-button.css" type="text/css"
    /! INPUT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-input.css" type="text/css"
    /! ALERT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-alert.css" type="text/css"
    /! JQUERY
    script src="../../common/js/jquery-3.2.1.min.js"
    /! FONT AWESOME
    script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"
    /! CUSTOM SCRIPTS
    script src="../../common/js/meeta-admin.js"

  body
    .meeta-body-wrapper
      /! ERROR NOTIFICATION
      .meeta-wrapper-notification
        .meeta-notification.failed
          h2.meeta-notification-h2 
            | Error
            i.fas.fa-times-circle aria-hidden="true"
          p.meeta-notification-p Tu nombre de usuario o contraseña es incorrecto
      .meeta-wrapper-center
        .meeta-login.meeta-col
          .meeta-col
            span.meeta-logo 
              | me
              span.highlight
                | e
              | ta
            span.meeta-logo-after Administrador de contenidos
          .meeta-wrapper.dark.width-260px.title.lg.login
            h1.meeta-h1.width-260px.lg Bienvenido
            form.meeta-form
              .meeta-col.start
                .meeta-element-container.width-100
                  label.meeta-label.dark Usuario:
                  input.meeta-input.dark autofocus="" type="text"
                .meeta-element-container.width-100
                  label.meeta-label.dark Contraseña:
                  input.meeta-input.dark type="password"
                .meeta-element-container.width-100
                  button.meeta-button.dark.sm type="button" Ingresar
            span.meeta-note.margin-footer 
              i.fas.fa-exclamation-circle aria-hidden="true"
              | ¿Problemas con tu contraseña? 
              a href="mailto:soporte@meeta.cl" Escribenos

          
          

