doctype html
head
  meta(charset='utf-8')
  title Meeta Admin - Rident
  meta(content='Administrador de contenidos Meeta para Rident' name='description')
  meta(content='administrador, meeta' name='keywords')
  meta(content='Gricel Sepulveda, Agustín González' name='author')
  // VIEWPORT RESPONSIVE
  meta(content='width=device-width, initial-scale=1, user-scalable=no' name='viewport')
  link(href='meeta/assets/styles.css' rel='stylesheet' type='text/css')
#modal
#app.meeta-body-wrapper
script(src='meeta/assets/bundle.js')
script.
  fetch("#{url}")
  .then(function(response) {
  return response.json()
  })
  .then(function(config) {
  meeta.render(config.data);
  })
